.conteiner{
  width: 100wh;
  height: 100vh;
  position: relative;  
  align-items: center;  
}
/* .bgpic{
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

.point{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
 

  
}
.point-id{
  margin-top: 15px;
  color: blue;
  
}
.bgpic{
  width: 1250px;
  height: 500px;
  
}
.area{
  width: 271px;
  height: 500px;
  left: 631px;
  background-color: red;
  position: absolute;
  opacity: 0.2;
}
.area1{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: red;
  animation: scale-down 5s infinite; 
  border-radius: 50%;
  opacity: 1;
  transform: scale(0.4);
  /* transition: all 1s ease-in-out; */
}



@keyframes scale-down {
  50% {
    transform: scale(1);
  }
 
}